*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}

html{
    font-size: 60%;
    overflow-x:hidden;
}

#home-page body{
    color: white;
    background: url(b9c8f893c9a782033a01f47e0c0b1d6e.jpg);
    background-size: cover;
}

#about-page body{
    color: white;
    background-color: rgb(201, 157, 171);
}

#myedu-page body{
    color: white;
    background-color: black;
}

#about-page::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(201, 157, 171);

}

#about-page::-webkit-scrollbar
{
	width:8px;
	background-color: rgb(201, 157, 171);
}

#about-page::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black;
}

#about-page body::before {
	animation: anim 30s infinite;
	background: radial-gradient(circle at 0% 0%, hotpink, slateblue);
	border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
	box-shadow: 0 -2vmin 4vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset,
		0 -2vmin 7vmin purple inset;
	content: "";
	filter: drop-shadow(0 0 3vmin Thistle) drop-shadow(0 5vmin 4vmin Orchid)
		drop-shadow(2vmin -2vmin 15vmin MediumSlateBlue)
		drop-shadow(0 0 7vmin MediumOrchid);
	height: 50vmin;
	position: absolute;
    margin-top: -200px;
    margin-left: -200px;
	width: 50vmin;
}

@keyframes anim {
	0%,
	100% {
		border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
		box-shadow: 0 -2vmin 4vmin LightPink inset, 0 -4vmin 4vmin MediumPurple inset,
			0 -2vmin 7vmin purple inset;
	}

	10% {
		border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
	}

	20% {
		border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
	}

	30% {
		border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
		box-shadow: 0 -4vmin 8vmin hotpink inset, -1vmin -2vmin 6vmin LightPink inset,
			-1vmin -2vmin 4vmin MediumPurple inset, 1vmin 4vmin 8vmin purple inset;
	}

	40% {
		border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
	}

	50% {
		border-radius: 100%;
		box-shadow: 0 4vmin 16vmin hotpink inset, 0 2vmin 5vmin LightPink inset, 0 4vmin 4vmin MediumPurple inset,
			0 6vmin 8vmin purple inset;
	}

	60% {
		border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
	}

	70% {
		border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
		box-shadow: 1vmin 1vmin 8vmin LightPink inset,
			2vmin -1vmin 4vmin MediumPurple inset, -1vmin -1vmin 16vmin purple inset;
	}

	80% {
		border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
	}

	90% {
		border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
	}
}

.navbar{
    float: right;
    justify-content: right;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.head-logo .logo{
    margin-left: -150px;
    font-size: 30px;
    font-weight: 700;
}

.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    padding: 10px;
    transform: scale(1.0);
}

.navbar i{
    align-items: center;
    margin-right: 60px;
}

.navbar a:hover{
    font-size: 1.8rem;
    color: white;
    border-radius: 10px;
    background-color: rgb(224, 117, 2);
    padding: 10px;
    transform: scale(1.1);
}
.navbar a.active{
    font-size: 1.8rem;
    color: white;
    border-radius: 10px;
    background-color: rgb(224, 117, 2);
    padding: 10px;
    transform: scale(1.0);
}

.navbar a:active{
    font-size: 1.8rem;
    color: white;
    border-radius: 10px;
    background-color: rgb(224, 117, 2);
    padding: 10px;
    scale: 1.0;
}
.home-img img{
    margin-right: 100px;
    top: 3rem;
    box-shadow: 0 0 25px darkred;
    height: 3; 
    width: 20vw;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px darkred,
                0 0 50px darkred ,                       
                0 0 100px darkred;
}

section{
    min-height: 100vh;
    padding-left: 10rem;
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25rem;
    width: 100%;
}

.home-content{
    display: inline;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
}

.home-content p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    max-width: 700px;
}

.home-content h1{
    font-size: 39px;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid orange;
    font-size: 2.5rem;
    border-radius: 50%;
    color: orange;
    margin: 4rem 2.5rem 3 rem 0;
    transition: 0.3s ease-in-out;
}

.social-media a:hover{
    color: white;
    transform: scale(1.1);
    background-color: orange;
    transform:translateY(-3px);
}

.social-media a:active{
    color: white;
    transform: scale(0.9);
    background-color: orange;
}

.social-media a:nth-of-type(4){
    width: 350px;
    border-radius: 15px;
    padding: 30px;
}

.social-media a:nth-of-type(4) i{
    border-radius: 100%;
    border-radius: 4px solid orange;
}
.social-media a:nth-of-type(4) span{
    text-align: center;
    margin-left: 10px;
}

.home-content .grad{
    background: #D42006;
    background: linear-gradient(to right, #D42006 1%, #FFA93C 39%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }

:root{
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

.box {
	font-size: 3vw;
	margin: max(1rem, 3vw);
	border: 0.35rem solid;
	padding: 3vw;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.box p{
    font-size: 20px;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

.time{
    margin-top: calc(20%);
}

.vl{
    width: 1px;
    height: 80px;
    background-color: whitesmoke;
    margin-left: calc(50%);
    margin-top: -30px;
    margin-bottom: -30px;
}

#myedu-page ::-webkit-scrollbar{
    appearance: none;
}

.box img{
    float: right;
    height: 7vw;
    width: 7vw;
}

.box h4,h6{
    text-align: left;
}

#myedu-page .title{
    text-align: center;
    margin-top: calc(10%);
    font-weight: 100;
    font-family:'Times New Roman', Times, serif;
    font-size: 5vw;
    margin-bottom: -170px;
}

 #about-page .title{
    text-align: center;
    margin-top: calc(10%);
    font-weight: 100;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vw;
    border-bottom: white 2px solid;
    width: 500px;
    margin-left: calc(33%);
} 

#about-page p{
    font-size: 20px;
    text-align: center;
    width: 80%;
}

fieldset{
    padding: 50px;
    margin-left: calc(4%);
    border-radius: 8px;
    width: 90%;
    border: #FFA93C 3px solid;
    backdrop-filter: blur(1.2px);
}
legend{
    text-align: center;
    font-size: 35px;
}


.sketchy {
    color: #0b090a;
    padding: 40px 50px;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    width: 420px;
}

.sketchy::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.sketchy img{
    float: left;
    margin-left: 16px;
}

.sketchy p{
    text-align: center;
    margin-top: 17px;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

#project-page .logo{
    color: white;
}

.find{
    z-index: +2;
    border-radius: 8px;
    height: 500px;
    width: 500px;
    background: rgba(255, 0, 170, 0.3);
    backdrop-filter: blur(15px);
    margin-top: calc(10%);
    margin-left: 5%;
    padding: 5px;
}

.find h4{
    text-align: center;
    font-size: 20px;
    color: white;
}

.find img{
    align-self: center;
    padding: 15px;
    margin-left: 19px;
}

.find p{
    color: white;
    font-size: 15px;
    text-align: center;
}

#project-page i{
    font-size: 50px;
}

#project-page .find a{
    color: pink;
    
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#contact-page body { 
    background:rgb(30,30,40); 
    overflow-x: hidden;
}
form { 
    border: 5px solid rgb(84, 21, 34);
    border-radius: 8px;
    padding: 50px;
    max-width:620px; 
    margin:50px auto; 
}

form h1{
    text-align: center;
    color: white;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
    border:2px solid #CC4949; 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

input[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { 
    background:#CC4949; 
    
}

#contact-page::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(30,30,40);

}

#contact-page::-webkit-scrollbar
{
	width:8px;
	background-color: rgb(30,30,40);
}

#contact-page::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: red;
}

.git{
    border: 5px crimson solid;
    align-items: center;
    text-align: center;
    width: 400px;
    margin:50px auto; 
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.git h1{
    font-size: 20px;
}

.git p{
    font-size: 15px;
}
